target/
backend/src/main/resources/application.properties
sonar-project.properties
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
.gitignore
Attivita_di_Testing_BugBoard.tex
Attivita_di_Testing_BugBoard.docx
